* {
          margin: 0;
          padding: 0;
          font-family: Arial, Helvetica, sans-serif;
} 
.row {
          display: grid;
          grid-template-columns: repeat(53, 27px);
}
.grid {
          position: fixed;
          bottom: 0;
          display: grid;
          width: 100%;
}
.empty{
          height: 175px;
          background-color: #130a2b;
}
.alert {
          padding: 8px;
          padding-left: 20px;
          color: white;
          opacity: 1;
          transition: opacity 0.6s;
          margin-bottom: 0px;
}        
.closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
}        
.closebtn:hover {
          color: black;
}
.Unvisited,.Visited,.path,.block{
          height: 26px;
          width: 26px;
          border: 1px solid rgba(121, 192, 243, 0.356);
          transform: translate3d(0, 0, 0);
}
.block{
          animation-name: blockAnimation;
          animation-duration: 0.25s;
          animation-timing-function: ease-out;
          animation-delay: 0;
          /* animation-direction: alternate; */
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-play-state: running;
          border-color: rgb(12, 53, 71);
 }
.Visited{
          animation-name: visitedAnimation;
          animation-duration: 1.5s;
          animation-timing-function: ease-out;
          animation-delay: 0;
          animation-direction: alternate;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
          animation-play-state: running;
 }
 @keyframes visitedAnimation {
           0%{
                    transform: scale(0.3);
                    background-color: rgba(0,0,66,0.75);
                    border-radius: 100%;
           }
           50%{
                    background-color: rgba(17,104,217,0,75);
           }
           75%{
                    transform: scale(1.2);
                    background-color: rgba(0,217,59,0.75);
           }
           100%{
                    transform: scale(1);
                    background-color: aquamarine;
           }
 }
 @keyframes blockAnimation{
          0% {
                    transform: scale(.3);
                    background-color: rgb(12, 53, 71);
          }
                
          50% {
                    transform: scale(1.2);
                    background-color: rgb(12, 53, 71);
          }
                
          100% {
                    transform: scale(1.0);
                    background-color: rgb(12, 53, 71);
          }
 }
 .disabled{
          cursor: default;
          pointer-events: none;
}
 .path{
          background-color: rgb(251, 251, 95);
          border-color: yellow;
 }
 
.menu-bar {
          background-color: rgb(7, 24, 46);
          overflow: hidden;
          display: flex;
          justify-content: center;
}
.dragging{
          opacity:0;
}
.menu-bar a {
          float: left;
          color: #f2f2f2;
          text-align: center;
          padding: 16px 16px;
          text-decoration: none;
          font-size: 17px;
          margin: auto;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
}
.menu-bar a:hover {
          background-color: #04aa6d;
          color: black;
          border-radius: 3px;
}
/* .menu-bar a.active {
          background-color: #04aa6d;
} */
img {
          height: 22px;
          width: 22px;
          margin: 2px auto;
          display: block;
          cursor: move;
          user-select: none;
}
